<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title></title>
  <!-- <link href="https://fonts.googleapis.com/css?family=Bitter|Girassol|Ma+Shan+Zheng&display=swap" rel="stylesheet"> -->
  <link rel="stylesheet" href="main.css">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
</head>
<body id="<%= @pageTitle %>">
  <ul class="nav-list">
    <li><img class="logo"src="logo.png" alt="logo"></li>
    <% if !session[:user_id] %>
    <li><a id="<%=@pageTitle2 %>" class="home"  href="/"><i class="fas fa-home show"></i> Home</a></li>
    <% end %>


    <% if session[:user_id] %>
    <li><a id="<%= @pageTitle %>" class="logout" href="logout"><i class="fas fa-sign-out-alt show"></i> log out</a></li>
    <li><a id="<%= @pageTitle %>" class="logout" href="profile"><i class="fas fa-address-card show"></i> Profile</a></li>
    <% end %>

    <% if session[:user_id] %>
    <li><a  class="home"  href="dashboard"><i class="fas fa-rss-square show"></i> Dashboard</a></li>

    <% if request.path == '/dashboard' %>
    <li>
      <button id="myBtn"><img src="create.png">Create Post</button>
    </li>
    <% end %>
    <% end %>

    <% if !session[:user_id] %>
    <li clase="login-signup"><a  href="login"><i class="fas fa-sign-in-alt show"></i> Log in</a></li>
    <li clase="login-signup"  ><a  class="<%= @pageTitle %> home"  href="signup"><i class="fas fa-user-plus show"></i>signup</a></li>
    <% end %>

  </ul>
  <%= yield %>
  <script src = "main.js">

  </script>
</body>
</html>
