<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title></title>
  <link href="https://fonts.googleapis.com/css?family=Bitter|Girassol|Ma+Shan+Zheng&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="main.css">
</head>
<body id="<%= @pageTitle %>">
  <ul>
    <li><a id="<%=@pageTitle2 %>" class="home"  href="/">Home</a></li>

    <% if !session[:user_id] %>
    <li><a class="ll"  href="login">log in</a></li>
    <li><a id="<%= @pageTitle %>" class="home"  href="signup">signup</a></li>

    <% elsif session[:user_id] %>
    <li><a id="<%= @pageTitle %>" class="logout" href="logout">log out</a></li>
    <li><a id="<%= @pageTitle %>" class="logout" href="profile">profile</a></li>
    <% end %>

    <li><a id="<%= @pageTitle %>" class="home"  href="dashboard">Dashboard</a></li>
    <% if request.path == '/dashboard' %>
    <li>
      <button id="myBtn"><img src="https://cdn1.iconfinder.com/data/icons/action-states-vol-4-twotone/48/JD-03-512.png">Create Post</button>
    </li>
    <% end %>

  </ul>
  <%= yield %>
  <script src = "main.js">

  </script>
</body>
</html>
