<h1>profile</h1>

<div id="post-container">
  <div class="user-info">
    <form action="/delete-user" method="post">
      <h1>Name: <%= @user.name %></h1>
      <h1>Email: <%= @user.email %></h1>
      <h1>Password: <%= @user.password %></h1>
      <button id ="delete-button" type="submit">Delete Profile</button>
    </form>
  </div>
  <div id="post-holder">
    <% for post in @posts %>
    <% if post.maker == @user.name %>
    <div class="post">
      <form  action="/profile/:<%=post.id%>" method="post">
        <button id="dp" type="submit">Delete Post</button>
      </form>
      <p id="post-maker"> <%= post.maker %></p>
      <h1><%= post.title %></h1>
      <p><%= post.content %></p>
    </div>
    <% end %>
    <% end %>
  </div>
</div>
