<h1 class="center">profile</h1>

  <ul class="nav-profile-ul">
    <li id="user-info-link"class="nav-profile" onclick="showInfoDiv()">Account information</li>
    <li  id="user-post-link"class="nav-profile"onclick="showPostoDiv()">Posts</li>
    <li  ><a href="/updateUserInfo">Posts</a></li>
  </ul>



<div id="post-container">
  <div id="info-holder" class="user-info">
    <form action="/delete-user" method="post">
      <h1>Name: <%= @user.first_name %></h1>
      <h1>Email: <%= @user.email %></h1>
      <h1>Password: <%= @user.password %></h1>
      <button id ="delete-button" type="submit">Delete Profile</button>
    </form>
  </div>
  <div id="post-holder">
    <% for post in @posts %>
    <% if post.maker == @user.first_name %>
    <div class="post">
      <form  action="/profile/:<%=post.id%>" method="post">
        <button id="dp" type="submit">Delete Post</button>
      </form>
      <p id="post-maker"> <%= post.maker %></p>
      <h1><%= post.title %></h1>
      <p  class="post-content" id="content"> <%= post.content %></p>
    </div>
    <% end %>
    <% end %>
  </div>
</div>
<script>
  var postDiv = document.getElementById("post-holder");
  var infoDiv = document.getElementById("info-holder");
  postDiv.style.display = "none";
  infoDiv.style.display = "none";


  function showInfoDiv() {
    infoDiv.style.display = "block";
    postDiv.style.display = "none";

  }

  function showPostoDiv() {
    postDiv.style.display = "block";
    infoDiv.style.display = "none";

  }
</script>
